body {
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    background-color: green;
   
}


canvas{
box-shadow: 20px 15px 50px ;
background-color: rgb(2, 17, 2);
}
